.container {
  border-radius: 12px;
  text-align: center;
  /* width: 360px; */
  width: 340px;
  /* max-width: 260px; */
  display: inline-block;
  background-color: whitesmoke;
  margin: 24px 14px 0px 14px;
  vertical-align: middle;
  padding: 32px 0px 0px 0px;
  box-shadow: 0px 0px 8px #9fa4a5;
}
.text {
  margin: 0 52px;
  /* background-color: cadetblue; */
  height: 150px;
  overflow-y: hidden;
  word-break: break-all;
}
.reaction {
  display: flex;
  align-items: center;
}
* {
  box-sizing: border-box;
}
.icons {
  width: 100%;
  margin: 20px 0px 30px 0;
  display: flex;
  justify-content: space-around;
}
.inputContainers {
  height: 60px;
  font-size: 18px;
  border-radius: 14px;
  text-align: center;
  display: block;
  margin: 18px auto;
  width: 70%;
}
.comment {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.close {
  color: red;
  width: fit-content;
  margin-left: 90%;
  height: 40px;
  background-color: #c8eef4;
  border-radius: 4px;
  width: 40px;
}
.modal {
  font-family: arial;
  padding: 18px;
  position: absolute;
  width: 30%;
  z-index: 9999;
  top: 50%;
  bottom: 20%;
  left: 35%;
  height: 78%;
  background-color: #ffff;
  border-radius: 3px;
  box-shadow: 0px 0px 8px #4c4c4d;
}

.backdrop {
  position: fixed;
  z-index: 1040;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
}

.modal-title {
  font-weight: 500;
  font-size: 1.25rem;
}

.modalHeader {
  border-bottom: 1px solid #e9ecef;
  text-align: center;
  height: 100px;
}

.modalDesc,
.modalHeader,
.modalFooter {
  padding: 6px;
  text-align: center;
}

button {
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 12px;
  border-radius: 5px;
  border: none;
}


.secondaryButton {
  color: #fff;
  background-color: #6c757d;
}
.primaryButton {
  color: #fff;
  background-color: #007bff;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 45%;
  }
  .modal {
    width: 70%;
    left: 15%;
  }
}
@media only screen and (max-width: 540px) {
  .container {
    width: 94%;
  }
  .modal {
    width: 90%;
    left: 5%;
  }
}
/* for desktop */
/* .first{
        margin-left: 25%;
       }
       .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}    
} */
