nav{
    background-color: #35272e;
       display: flex;
}
ul{
    display: flex;
}
li{
    list-style: none;
    padding: 6px 36px;
     /* display: flex; */
     color: #ffff;
     font-size: xx-large;
     font-weight: bolder;
}
img{
    
    border-radius: 50% 50%;
    margin-left: 10px;
}
