.App {
  text-align: center;
  width: 100%;
  background-color: antiquewhite;
  padding: 2%;
}
.text {
  text-align: center;
  background-color: #e6a4c4;
  color: #ffff;
  padding: 10px;
  margin: 40px 0px;
}
section {
  /* display: flex; */
  /* flex: content; */
  padding: 22px;
  /* overflow: auto;
  display:inline-grid;
  height: fit-content;
  width: fit-content; */
}
select {
  padding: 12px 30px;
  border-radius: 24px;
}
.inputContainers {
  height: 50px;
  display: block;
  margin: 12px auto;
  width: 80%;
  border-radius: 20px;
  text-align: center;
}
textarea{
padding-top:14px ;
}
input{
  border: 1px solid #adabab;
}
.addname {
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-between;
}
.addcat {
  width: 30%;
   margin: 0 auto;
  
}
.plus {
  width: 60px;
  height: 60px;
 margin-left: 94%;
 
  border-radius: 50%;
 margin-top: -70px;
  background-color: #fcd1e5;
}
.indicator{
  width: 100px;
  padding: "10px 26px";
  margin-left:92%; 
  border-radius: 8px }
.addJoke {
  background-color: #ffff;
  position: absolute;
  height: 78%;
  width: 30%;
  z-index: 1040;
  top: 25%;
  left: 35%;

  padding: 18px;
  box-shadow: 2px 2px  4px #79377a;
}
.close{
  color: red;
  width: fit-content;
    margin-left: 90%;
    height: 40px; 
    background-color: #c8eef4;
    border-radius: 4px;
     width: 40px;
}
footer {
  background-color: #aaaab7;
  height: 200px;
}

/* @media only screen  and (max-width: 1024px){ */
/* .container{
  width:45%;
} */
/* .addJoke{
  width:70%;
  left:15%;
  
}
}
@media only screen  and (max-width: 415px){
.addJoke{
  width:70%;
  left:15%;
   background-color: #aaaab7;
  
}
} */
  @media only screen and (max-width: 1024px) {
   .plus{
    margin-left: 92%;
  }
  .indicator{
    margin-left: 88%;
  }
}
@media only screen and (max-width: 640px) { 
/* For mobile phones: */
.addJoke {
    width: 80%;
    left: 10%;
  }
  .addcat{
    width: 80%;
  }
  .plus{
    margin-left: 84%;
  }
  .indicator{
    margin-left: 74%;
  }
  } 

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

